fieldset {
	display:inline-block;
	background-color:#F0F0F0;
	margin:10px;
	padding:15px;
}

.row {
	height:35px;
}

.isvalid {
	font-style:italic;
	margin-left:70px;
	vertical-align:top;
}