.tagaction .delete {
	font-size:0.8em;
}
.tagaction .tag {
	font-weight:bold;
}
#tagbox,
#tagbox_already,
input[type="submit"] {
	margin:5px 8px;
}



label {
	display:inline-block;
	margin:5px 8px;
}