#header {
	float:left;
	width:230px;
}
#header .writer {
	font-weight:bold;
	color:#0011FF;
}

#fblike {
	margin:10px;
}



#container {
	margin-top:10px;
	margin-left:230px;
}



#tagcloud {
	clear:left;
	float:left;
	width:230px;
}
#tagcloud ul {
	padding-left:25px;
}
#tagcloud #favoritag {
	margin:0px;
}
#tagcloud #normal {
	list-style: circle;
}
#tagcloud fieldset {
	margin:20px;
}

.level1 {
	font-size:1.4em;
	font-weight:bold;
	color:#000000;
}
.level2 {
	font-size:1.3em;
	color:#202020;
}
.level3{
	font-size:1.2em;
	color:#404040;
}
.level4 {
	font-size:1.1em;
	color:#606060;
}
.level5 {
	color:#808080;
}

.level1 a,
.level2 a,
.level3 a,
.level4 a,
.level5 a {
	color:inherit;
}



#bar {
	clear:left;
	float:left;
	width:230px;
}
#bar ul {
	margin:0px;
	padding:0px;
}
#bar ul li {
	font-size:0.7em;
	display:inline;
	list-style:none;
}



#commonfooter {
	margin-left:230px;
}



.cnt {
	font-size:0.7em;
}

.now {
	color:#909090;
}

.name {
	font-weight:bold;
}