#container .link {
	margin-bottom:20px;
	padding-left:5px;
	border-left:1px solid #000000;
}
#container .link .title {
	font-size:1.4em;
}
#container .link .tag,
#container .link .url,
#container .link .info,
#container .link .menu {
	font-size:0.8em;
}
#container .link .tag ul {
	margin:0px;
	padding:0px;
	list-style:none;
	display:inline;
}
#container .link .tag ul li {
	display:inline;
}
#container .desc {
	margin:10px 0;
}

#container .link .tag,
#container .link .info,
#container .link .info div,
#container .link .menu,
#container .link .menu div {
	display:inline;
}



#footer {
	margin-left:230px;
}
#footer #pager li {
	list-style:none;
	display:inline;
}
#footer #search {
	font-size:0.8em;
}