#header	{
	width:800px;
}
#header h1 {
	display:inline;
	margin-bottom:10px;
}
#header h3 {
	display:inline;
	margin-bottom:10px;
}
#header .desc {
	display:inline;
	margin-left:10px;
}


#commonfooter {
	width:800px;
	text-align:center;
}
#commonfooter #copyright,
#commonfooter #ccl {
	display:inline;
}
#commonfooter #copyright {
	padding-right:10px;
}
