#container #write input {
	margin:0px;
}
#container #write input[name="title"] {
	width:610px;
}
#container #write input[type="file"] {
	border:0px;
}
#container #write textarea {
	width:720px;
	height:350px;
	margin:0px;
	padding:1px;
}
#container #isvalid {
	margin-left:5px;
}
#container #write th,
#container #write td
{
	text-align:left;
	vertical-align:top;
	padding-bottom:5px;
}