#bar {
	width:800px;
	padding:0px;
}
#bar ul {
	margin:0px;
	padding:0px;
}
#bar ul li	{
	list-style:none;
	display:inline;
}



#container {
	width:800px;
}
#container #writings /*table*/ {
	border-collapse:collapse;
	margin:10px 0px;
}
#container #writings th {
	height:35px;
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
}
#container #writings td {
	height:35px;
	border-bottom:1px solid #000000;
}
#container #writings .number {
	width: 70px;
	text-align:center;
}
#container #writings .title {
	width:480px;
	padding-left:2px;
}
#container #writings .reply .title {
	padding-left:20px;
}
#container #writings .title .comment {
	font-size:0.7em;
}
#container #writings .name {
	width:100px;
	text-align:center;
}
#container #writings .time {
	width: 80px;
	text-align:center; 
}
#container #writings .hit {
	width: 70px;
	text-align:center;
}



#footer #pager {
	width:800px;
	margin:10px 0px;
	padding:0px;
	text-align:center;
}
#footer #pager li {
	list-style:none;
	display:inline;
}

#footer #search {
	width:800px;
	margin:10px 0px;
	text-align:center;
}