#bar {
	width:800px;
	padding:0px;
}
#bar ul {
	margin:0px;
	padding:0px;
}
#bar ul li	{
	list-style:none;
	display:inline;
}



#container {
	width:800px;
	border-bottom:2px solid #000000;
}
#container .writing .title {
	font-size:2em;
	border-bottom:2px solid #000000;
}

#container .writeinfo,
#container .writeaction {
	float:left;
}
#container .writeinfo .name,
#container .writeinfo .time,
#container .writeinfo .hit {
	display:inline;
}

#container .writemenu {
	text-align:right;
}
#container .writemenu .reply,
#container .writemenu .list,
#container .writemenu .edit,
#container .writemenu .delete {
	display:inline;
}

#container .writing .content {
	padding:30px;
	clear:both;
	text-align:justify;
}

#comment {
	width:740px;
	padding:30px;
	border-top:1px solid #000000;
}

.replycomment {
	margin-left:20px;
}

.commentbox {
	margin-bottom:15px;
	border-bottom:1px dotted #000000;
}

.commentbox .name,
.commentbox .id,
.commentbox .time,
.commentbox .menu,
.commentbox .menu .reply,
.commentbox .menu .edit,
.commentbox .menu .delete,
.commentbox .getpw {
	display:inline;
}

.commentbox .menu,
.commentbox .getpw,
.commentbox .content,
.commentbox textarea  {/* 댓글 수정 시 동적으로 생성되는 textarea */
	margin-left:10px;
}

.commentbox .name {
	font-size:1.1em;
}

.commentbox .id,
.commentbox .time,
.commentbox .reply,
.commentbox .edit,
.commentbox .delete,
.commentbox .getpw {
	font-size:0.8em;
}

.commentbox .getpw input
{
	margin:0px;
	padding:0px;
	font-size:0.7em;
	border:1px solid #A0A0A0;
}

#commentedit {
	margin-left:10px;
}

#commentedit textarea {
	width:727px;
	height:100px;
	margin:2px 0;
	padding:0px;
	border:1px solid #A0A0A0;
}

#commentedit input {
	margin:0px;
	padding:0px;
	font-size:0.7em;
}

#commentinput {
	background-color:#EFEFEF;
	padding:0 5px;
}

#commentinput input[type="text"] {
	margin:5px 0 0 0;
}
#commentinput input[type="submit"] { 
	margin:0 0 5px 0;
}
#commentinput textarea {
	width:720px;
	height:100px;
	margin:5px 0;
}

#commentinput .isvalid {
	display:none;
}
#commentinput #isvalidall {
	margin-left:5px;
}



.name {
	font-weight:bold;
}

.name .id {
	font-weight:normal;
	font-size:0.7em;
}

.hidden {
	display:none;
}