#header {
	width:800px;
	padding:0px;
	margin:0px;
}

#header h1 {
	display:inline;
	margin-bottom:1px;
}

#header .desc {
	display:inline;
	margin-left:10px;
}

#bar {
	padding:0px;
	margin-bottom:5px;
}
#bar ul	{
	margin:0px;
	padding:5px 0px;
	display:inline;
}
#bar ul li {
	list-style:none;
	display:inline;
}

#footer {
	width:800px;
}

#footer #pager { /*=ul*/
	margin:0px;
	padding:0px;
	text-align:center;
}
#footer #pager li {
	list-style:none;
	display:inline;
}
#footer #search {
	margin:0px;
	text-align:center;
}


#commonfooter {
	width:800px;
	text-align:center;
}
#commonfooter #copyright,
#commonfooter #ccl {
	display:inline;
}
#commonfooter #copyright {
	padding-right:10px;
}

.cnt {
	font-size:0.7em;
}

.name {
	font-weight:bold;
}

.now {
	color:#909090;
}

.new {
	font-size:0.8em;
	color:#ff0000;
}