#tagcloud {
	width:800px;
	padding:20px;
}
#tagcloud ul {
	margin:0px;
	padding:0px;
}
#tagcloud ul li {
	display:inline;
}



.level1 {
	font-size:1.6em;
	font-weight:bold;
	text-decoration:underline;
	color:#ff0000;
}
.level2 {
	font-size:1.4em;
	font-weight:bold;
	color:#ff4500;
}
.level3{
	font-size:1.3em;
	color:#ff8c00;
}
.level4 {
	font-size:1.2em;
	color:#ffd700;
}

.level1 a,
.level2 a,
.level3 a,
.level4 a {
	color:inherit;
}