#container {
	width:800px;
	margin-bottom: 10px;
}
#container .article {
	margin:0 0 50px 0;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
}
#container .writing {
	margin:0;
	padding:0 5px 5px 0;
}
#container .writing .title {
	font-size:2.0em;
}
#container .writeinfo {
	padding:0px 0px 0px 0px;
	font-size:0.8em;
}

#container .writeinfo .category,
#container .writeinfo .time,
#container .writeinfo .edit,
#container .writeinfo .delete {
	display:inline;
}

#container .writeinfo .time .mod {
	font-size:0.8em;
}

#container .writing .content {
	margin:20px;
	text-align:justify;
}

#container .writeaction .cnt {
	font-size: 1em;
}
#container .snsaction .fbshare {
	display:inline;
}

#container .tags {
	float:right;
}
#container .tags ul {
	padding:0px;
	display:inline;
}
#container .tags ul li {
	
	list-style: none;
	display:inline;
}



#comment {
	padding:30px;
	border-top:1px solid #000000;
}
#comment .commentbox {
	margin-bottom:15px;
	border-bottom:1px dotted #000000;
}
#comment .replycomment {
	margin-left:20px;
}
#comment .commentbox .name,
#comment .commentbox .id,
#comment .commentbox .time,
#comment .commentbox .menu,
#comment .commentbox .menu .reply,
#comment .commentbox .menu .edit,
#comment .commentbox .menu .delete,
#comment .commentbox .getpw {
	display:inline;
}
#comment .commentbox .menu,
#comment .commentbox .getpw,
#comment .commentbox .content,
#comment .commentbox textarea/* 댓글 수정 시 동적으로 생성되는 textarea */ {
	margin-left:10px;
}
#comment .commentbox .name {
	font-size:1.1em;
}
#comment .commentbox .id,
#comment .commentbox .time,
#comment .commentbox .reply,
#comment .commentbox .edit,
#comment .commentbox .delete,
#comment .commentbox .getpw {
	font-size:0.8em;
}
#comment .commentbox .getpw input {
	margin:0px;
	padding:0px;
	font-size:0.7em;
	border:1px solid #A0A0A0;
}

#commentedit {
	margin-left:10px;
}
#commentedit textarea {
	width:727px;
	height:100px;
	margin:2px 0;
	padding:0px;
	border:1px solid #A0A0A0;
}
#commentedit input {
	margin:0px;
	padding:0px;
	font-size:0.7em;
}
#commentinput {
	background-color:#EFEFEF;
	padding:10px;
}
#commentinput input[type="text"] {
}
#commentinput input[type="submit"] {
}
#commentinput textarea {
	width:720px;
	height:100px;
	margin:5px 0;
}
#commentinput #isvalid {
	margin-left:5px;
}

.fbcomment {
	display:none;
	padding:30px;
}

.hidden,
.markdown_source {
	display:none;
}