* {
	font-family:'Malgun Gothic', 'Dotum';
}

a:link		{ text-decoration: none;      color: #000000; font-size:inherit; }
a:visited	{ text-decoration: none;      color: #000000; font-size:inherit; }
a:active	{ text-decoration: none;      color: #000000; font-size:inherit; }
a:hover		{ text-decoration: underline; color: #000000; font-size:inherit; }

.decorate_link a:link    { text-decoration: underline; }
.decorate_link a:visited { text-decoration: underline; }
.decorate_link a:active  { text-decoration: underline; }

body {	
	scrollbar-highlight-color:#FFFFFF; 
	scrollbar-3dlight-color:#000000; 
	scrollbar-face-color:#FFFFFF; 
	scrollbar-shadow-color:#FFFFFF; 
	scrollbar-darkshadow-color:#000000; 
	scrollbar-track-color:#FFFFFF; 
	scrollbar-arrow-color:#000000;
}

form {
	margin:0px;
}

input[type="text"],
input[type="password"],
textarea {
	background-color:#ffffff;
	border:#000000 1px solid;
}

input[readonly] {
    background-color:#D0D0D0;
}

/*
input[type="submit"],
input[type="button"] {
	font-weight:bold;
	border:2px solid #000000;
}
*/
th	{ font-weight:normal; }

h1, h2, h3, h4, h5, h6 { margin:0px; }

h1 { font-size:2.3em; }
h2 { font-size:2.1em; }
h3 { font-size:1.9em; }
h4 { font-size:1.7em; }
h5 { font-size:1.5em; }
h6 { font-size:1.3em; }

pre {
	background:#EEE;
}

code {
	font-family:'Courier new';
}

blockquote {
	margin:0 0 0 30px;
	padding-left:20px;
	border-left:4px double #999;
}

#commonheader	{ margin:0px; }
#commonheader ul	{ list-style:none; margin:0px; padding:0px; }
#commonheader ul li { display:inline;}

#commonfooter	{ margin:0px; }

.desc {

}
.message {
	margin:10px;
	padding:20px;
	font-size:1.3em;
	display:inline-block;
	border:1px solid;
}
.welcome {
	color:#7b68ee;
	border-color:#7b68ee;
}
.warning {
	color:#ff4500;
	border-color:#ff4500;
}
.error {
	color:#ff0000;
	border-color:#ff0000;
}