#container {
	margin:10px;
}

#container ul {
	margin:0px;
	list-style:circle;
}

#container ul li {
	font-size:1.1em;
}

#container #fblike {
	margin:10px;
}

.inactivate {
	text-decoration: line-through;
}